.sidebar-header {
  color: var(--color-white);
}
.sidebar-header__simple {
  color: var(--color-grean-1);
}
.sidebar-header h1 {
  font-size: 42px;
}
.sidebar-header p {
  padding-top: 20px;
  color: var(--color-gray-2);
}
