:root {
  --color-white: #ffffff;

  --color-black: #000000;
  --color-gray: #5d5d5d;

  --color-grean-1: #d2fd9c;
  --color-grean-2: #619111;
  --color-grean-3: #77912a;
  --color-grean-4: #394508;
}
