.sidebar-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 130px;
  height: 136px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--color-grean-3);
}
